---
interface Props {
  t: {
    navbar: {
      home: string;
      profile: string;
      portfolio: string;
      skills: string;
      history: string;
      works: string;
      contact: string;
    };
  };

  lang: "ja" | "en";
}

const { t, lang } = Astro.props;

const langLink = lang === "ja" ? "/eng" : "/";
const langText = lang === "ja" ? "ENG" : "JP";
---

<header class="fixed top-0 left-0 z-50 w-full bg-bg1/80 backdrop-blur-md">
    <nav class="mx-auto flex h-16 max-w-6xl items-center justify-between">

        <a href="/" class="text-2xl text-text-title">
            Taho's Portfolio
        </a>

        <div class="flex h-full items-center gap-10">
            <ul class="flex h-full text-[18px] text-text">
              <li>
                <a href="#home" class="flex h-full items-center px-6 transition hover:bg-cherry hover:text-white">
                  {t.navbar.home}
                </a>
              </li>
              <li>
                <a href="#profile" class="flex h-full items-center px-6 transition hover:bg-cherry hover:text-white">
                  {t.navbar.profile}
                </a>
              </li>
              <li class="relative group">
                <a class="flex h-full items-center px-6 transition hover:bg-cherry hover:text-white">
                  {t.navbar.portfolio}
                </a>
                <ul class="absolute top-full hidden left-0 w-full flex-col bg-bg1/80 group-hover:flex">
                  <li>
                    <a href="#works" class="flex h-16 items-center justify-center transition hover:bg-cherry hover:text-white">
                      {t.navbar.works}
                    </a>
                  </li>
                  <li>
                    <a href="#skill" class="flex h-16 items-center justify-center transition hover:bg-cherry hover:text-white">
                      {t.navbar.skills}
                    </a>
                  </li>
                  <li>
                    <a href="#history" class="flex h-16 items-center justify-center transition hover:bg-cherry hover:text-white">
                      {t.navbar.history}
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#contact" class="flex h-full items-center px-6 transition hover:bg-cherry hover:text-white">
                  {t.navbar.contact}
                  </a>
              </li>
            </ul>
          <div class="flex items-center gap-2 text-sm"> 
            <a href={langLink}>JP</a> <span class="text-gray-400">|</span> <a href={langText}>EN</a> 
          </div>
        </div>
    </nav>
</header>

