---
import me from "../assets/images/me.png";
interface Props {
  t: {
    profile: {
      aboutMe: string;
      workMe: string;
      dream1: string;
      dream2: string;
      dream3: string;
    }
  };

  lang: "ja" | "en";
}

const { t, lang } = Astro.props;
---

<section id="profile" class="flex min-h-screen flex-col items-center justify-center bg-bg2">
    <h2 class="font-title text-[56px] text-text-title font-medium">
        About Me...
    </h2>

    <div class="mt-14 flex items-start gap-16">
        <img
            src={me.src}
            alt="Taho"
            class="fade-item w-[300px] flex-shrink-0 object-cover"
        />

        <div class="max-w-[500px] text-[18px] leading-[30px] text-text">
            <p>{t.profile.aboutMe}<br> 
                {t.profile.workMe}</p> 
            <p class="mt-4"> 
                {t.profile.dream1}
                <br>{t.profile.dream2}
                <br>{t.profile.dream3}</p>
        </div>
    </div>
</section>

<style>
.fade-item {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.2s ease;
}

.fade-item.show {
  opacity: 1;
  transform: translateY(0);
}
</style>

<script>
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      entry.target.classList.add("show");
    }
  });
});

document.querySelectorAll(".fade-item").forEach((el) => observer.observe(el));
</script>
