---
import { getHistories } from "../data/history";
import HistoryItem from "../assets/HistoryItem.astro";

interface Props {
  t: {
    history: {
      title: string;
      title_2008: string;
      description_2008: string[];

      title_2018: string;
      description_2018: string[];

      title_2023: string;
      description_2023: string[];

      title_2025: string;
      description_2025: string[];

      title_2026: string;
      description_2026: string[];
    };
  };

  lang: "ja" | "en";
}

const { t } = Astro.props;

const histories = getHistories(t.history);
---

<section
  id="history"
  class="flex min-h-screen flex-col items-center justify-center bg-bg1 py-24"
>
  <h2 class="font-title text-[56px] font-medium text-text-title">
    History...
  </h2>

  <p class="mt-4 text-center text-[18px] text-text">
    {t.history.title}
  </p>

  <div class="relative mt-20 w-full max-w-6xl">
    <!-- PC用の縦棒 -->
    <div
      class="absolute left-[200px] top-[40px] hidden h-[calc(100%-80px)] w-[15px] bg-cherry md:block"
    ></div>

    <div class="relative z-10 flex flex-col gap-10">
      {
        histories.map((history) => (
          <HistoryItem
            year={history.year}
            title={history.title}
            description={history.description}
            image={history.image}
          />
        ))
      }
    </div>
  </div>
</section>